/* Start Variables */
:root {
  --transparent-color: rgb(15 116 145 /70%)
}

/* End Variables*/
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
/* Start Components */
.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 70px;
  position: relative;
}

.main-heading h2::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  height: 2px;
  width: 120px;
  background-color: #333;
}

.main-heading h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translate(-50%, 50%);
  height: 12px;
  width: 12px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: #fefbfc;
}

.main-heading p {
  width: 550px;
  max-width: 100%;
  margin: 0 auto 100px;
  line-height: 2;
  color: #777;
}

/* End Components */
/* Start Header */
header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 98px;
}

header .logo img {
  height: 40px;
}

header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

header .container::after {
  content: '';
  position: absolute;
  background-color: #726f71;
  height: 2px;
  width: calc(100% - 30px);
  left: 15px;
  bottom: 0;
}

header .toggle-menu {
  color: #fefbfc;
  font-size: 24px;
}

header .toggle-menu:hover+ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: calc(100% - 30px);
}

@media (min-width: 768px) {
  header .toggle-menu {
    display: none;
  }
}

header nav ul {
  display: flex;
  gap: 30px;
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
    gap: 0;
  }
}

header nav a {
  display: block;
  font-size: 14px;
  padding: 40px 0;
  color: #fefbfc;
  text-decoration: none;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  header nav a {
    padding: 30px 0;
  }
}

header nav a:hover, header nav a.active {
  color: #00c7fc;
  border-color: #00c7fc;
}

header nav .form {
  width: 40px;
  height: 30px;
  border-left: 2px solid #fefbfc;
  position: relative;
}

header .form i {
  color: #fefbfc;
  position: absolute;
  top: 15px;
  right: 0;
  transform: translateY(-50%);
}

/* End Header */

/* Start Landing */

.landing {
  min-height: 100vh;
  background-image: url(../images/pxfuel.jpg);
  background-size: cover;
  position: relative;
}

.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.landing .text {
  position: absolute;
  color: #fefbfc;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  padding: 50px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.landing .content {
  max-width: 500px;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    padding: 35px;
  }

  .landing .content {
    max-width: 100%;
  }
}

.landing h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing p {
  font-size: 16px;
  line-height: 2;
}

.landing .arrows {
  position: absolute;
  color: #fefbfc;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 767px) {
  .landing .arrows {
    display: none;
  }
}

.landing .arrow-left {
  left: 30px;
}

.landing .arrow-right {
  right: 30px;
}

.landing .bullets {
  position: absolute;
  display: flex;
  gap: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid #fefbfc;
  border-radius: 50%;
}

.landing .bullets .active {
  background-color: #00c7fc;
  border-color: #00c7fc;
}

/* End Landing */

/* Start Services */
.services {
  padding: 100px 0;
}

@media (min-width: 768px) {

  .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    column-gap: 100px;
    row-gap: 70px;
  }
}

.services .service {
  display: flex;
  gap: 30px;
}

@media (max-width: 767px) {

  .services-container {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  .services .service {
    flex-direction: column;
    text-align: center;
  }
}

.services .service i {
  min-width: 70px;
  text-align: center;
  color: #292929;
}

.services .service h3 {
  font-weight: 500;
  color: #00c7fc;
  margin-bottom: 20px;
}

.services .service p {
  line-height: 1.5;
  color: #b0acae;
}

/* End Services */

/* Start Design */
.design {
  padding: 100px 0;
  background-image: url(../images/design-background.jpg);
  background-size: cover;
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.design::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.design .image, .design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}

.design .image {
  text-align: center;
  top: 150px;
}

.design .text {
  color: #fefbfc;
  background-color: var(--transparent-color);
  padding: 50px;
}

@media (max-width: 767px) {
  .design .image {
    display: none;
  }

  .design .text {
    width: 100%;
  }
}

.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.design .text li {
  margin-bottom: 20px;
}

.design .text li::before {
  font-family: 'Font Awesome 6 Free';
  content: '\e163';
  font-weight: 900;
  margin-right: 20px;
}

.portfolio {
  padding: 100px 0;
}

.portfolio .shuffle {
  display: flex;
  justify-content: center;
}

.portfolio .shuffle li {
  text-transform: uppercase;
  margin-right: 20px;
  padding: 10px 30px;
}

@media (max-width: 767px) {
  .portfolio .shuffle li {
    margin-right: 0;
    padding: 10px 10px;
  }
}

.portfolio .shuffle .active {
  color: #fefbfc;
  background-color: #00c7fc;
}

.portfolio .images-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.portfolio .images-container .box {
  overflow: hidden;
  position: relative;
}

@media (min-width: 768px) {
  .portfolio .images-container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 1200px) {
  .portfolio .images-container .box {
    flex-basis: 25%;
  }
}

.portfolio .images-container .box img {
  max-width: 100%;
  transition: 0.3s;
}

.portfolio .box:hover img {
  transform: rotate(3deg) scale(1.1);
}

.portfolio .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: #fefbfc;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}

.portfolio .box:hover .caption {
  bottom: 0;
}

.portfolio .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

.portfolio .box .caption p {
  color: #00c7fc;
}

.portfolio .btn {
  color: #fefbfc;
  background-color: #00c7fc;
  padding: 10px 40px;
  border: none;
  text-transform: uppercase;
  margin: 60px auto 0;
  display: block;
  cursor: pointer;
}

/* End Design */


/* Start Video */

.video {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 30%);
}

.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background-color: var(--transparent-color);
  padding: 40px;
}

.video .text h2 {
  color: #fefbfc;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
}

.video .text p {
  color: #fefbfc;
  margin-bottom: 30px;
}


.video .text button {
  color: #fefbfc;
  background-color: #292929;
  padding: 10px 25px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

/* End Video */

/* Start About */
.about {
  padding-top: 100px;
}

.about .image {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.about .image img {
  position: relative;
  margin-top: -100px;
  bottom: -100px;
  max-width: 100%;
}

/* End About */

/* Start Statistics */
.statistics {
  padding: 100px 0;
  background-image: url(../images/statistics.jpg);
  background-size: cover;
  background-position: right;
  position: relative;
}

.statistics::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 30%);
}

.statistics .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}

.statistics .stat {
  background-color: var(--transparent-color);
  position: relative;
  padding: 50px 0;
  color: #fefbfc;
}

@media (max-width: 767px) {
  .statistics .stat {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .statistics .stat {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .statistics .stat {
    flex-basis: 25%;
  }
}

.statistics .stat i {
  background-color: #292929;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
}

.statistics .text h2 {
  margin-bottom: 30px;
  font-size: 40px;
}

.statistics .text p {
  font-size: 14px;
}

/* End Statistics */

/* Start Skills & Testimonials */

.skills {
  padding: 100px 0;
}

.skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .skills .testimonials-content {
    flex-basis: 45%;
  }

  .skills .skills-content {
    flex-basis: 45%;
  }
}

.skills .container>div>h3 {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.skills .container>div>p {
  color: #777;
  text-align: center;
  line-height: 2;
  margin-bottom: 60px;
}

.skills .testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.skills .testimonial {
  display: flex;
  align-items: center;
  gap: 60px;
}

.skills .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}

.skills .text p {
  color: #777;
  font-size: 14px;
  text-align: right;
  padding-bottom: 10px;
}

.skills .testimonial img {
  width: 100px;
  background-color: #cbcbcb;
  border-radius: 50%;
}

.skills .testimonials-content {
  position: relative;
}

.skills .testimonials-content .bullets {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 50px 0;
}

.skills .testimonials-content .bullets li {
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  border-radius: 50%;
}

.skills .testimonials-content .bullets .active {
  background-color: #00c7fc;
  border-color: #00c7fc;
}

.skills .skills-content .bar {
  margin-bottom: 40px;
}

.skills .skills-content .bar>h4 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.skills .bar .progress {
  background-color: #dedadc;
  height: 30px;
}

.skills .progress span {
  display: block;
  background-color: #00c7fc;
  height: 30px;
  position: relative;
}

.skills .progress span::before {
  content: attr(data-percent);
  position: absolute;
  width: 40px;
  top: -40px;
  right: -18px;
  padding: 4px 0;
  background-color: #292929;
  color: #fefbfc;
  border-radius: 4px;
  text-align: center;
}

.skills .progress span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #292929 transparent transparent transparent;
  border-width: 8px;
  top: -15px;
  right: -7px;
}

/* End Skills & Testimonials */
/* Start Quote */
.quote {
  padding: 100px 0;
  text-align: center;
  color: #fefbfc;
  background-image: url(../images/1920-abstract-futuristic-floor-with-hexagons-background-3d-rendering.jpg);
}

.quote .content {
  background-color: var(--transparent-color);
  padding: 40px 10px;
  border-radius: 5px;
}

.quote q {
  display: block;
  font-size: 32px;
  margin-bottom: 20px;
}

.quote q::before {
  content: '\f10d';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-size: 16px;
  position: relative;
  top: -10px;
}

.quote q::after {
  content: '\f10e';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-size: 16px;
  position: relative;
  bottom: 10px;
}

/* End Quote */

/* Start Pricing */
.pricing {
  padding: 100px 0;
}

/* End Pricing */